body{
    font-family: "Work Sans", sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.search-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 3.25rem;
border: 1px solid #7879F1;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
font-family: "Work Sans", sans-serif;
    padding: 1rem;
    margin: 1rem;
font-size: 1.25rem;
font-style: normal;
    text-decoration: none;
font-weight: 700;
line-height: normal;
letter-spacing: -0.025rem;
}


nav li {
    border-radius: 3.25rem;
    margin-right: 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background: linear-gradient(90deg, #0063BE 0%, #0E0E2C 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;]
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

nav li:hover  {
    background: linear-gradient(90deg, #a1cbff 0%, #b05eff 100%);
}

nav a:hover {
    color: black;
}

#content {
    padding: 20px;
}
h1{
    height: 5.125rem;
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.08rem;
}
.button-rm{
    background: linear-gradient(90deg, darkred, black);
    color: #FFF;
}
.buttons a{
    margin: 1rem;
    border-radius: 2rem;
    background: linear-gradient(90deg, #7879F1 -0.15%, #383985 100%);
    color: #FFF;
    width: 10rem;
    display: inline-flex;
    height: 3rem;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.025rem;
}

.buttons a:hover{
    color: black;
    background: linear-gradient(90deg, #a1cbff 0%, #b05eff 100%);
}


.group .code{
 color: #000;
font-family: "Work Sans", sans-serif;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.025rem;
}

.group .name{
    color: #000;
font-family: "Work Sans", sans-serif;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.025rem;
}

.group .time{
    color: #000;
font-family: "Work Sans", sans-serif;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.025rem;
}
.students{
    color: #000;
font-family: "Work Sans", sans-serif;
font-size: 1.5rem;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.03rem;
}

.students .name{
    width: 25rem;
}

.timetable .group{
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.025rem;
    width: 12.1875rem;
    height: 8.375rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #6D6D6D;
    backdrop-filter: blur(2px);
}


.timetable .description{
    font-size: 0.75rem;
}

.timetable .btn a{
    border-radius: 2rem;
    border: solid thin;
    padding: 0.25rem;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    height: 1rem;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0.25rem 0.25rem;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.025rem;
}

.Lab{
    color: white;
    background: #383985;
}

.Pra{
    color: black;
    background: #A5A6F6;
}

.Sem{
    color: #000000;
    background: #95bfff;
}

.Lec{
    color: white;
    background: #7879F1;
}

.Pro{
    color: white;
    background: #663885;
}