{% extends "layout.html" %}
{% block title %}Groups{% endblock %}
{% block content %}
    <h1>Groups PRZEPIEKNE</h1>
    {% if groups %}
        <table>
        {% for group in groups %}
            <tr>
            <td class="group">
            <div class="code">
                {{ group.course.code }}
            </div>
            <div class="name">
                {{ group.course.name }}
            </div>
            <div class="time">
                {{group}}
            </div>
            </td>

            <td>
                <div class="buttons">
                    <a href="/assistant/enrollment/details/{{ group.code }}">Details</a>
                    <a href="/assistant/enrollment/register/{{ student_id }}/{{ group.code }}">Register</a>
                    <a href="/assistant/enrollment/unregister/{{ student_id }}/{{ group.code }}">Unregister</a>
           </div>
            </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <p>No groups are available.</p>
  {% endif %}
{% endblock %}
