{% extends "layout.html" %}
{% block title %}Group details{% endblock %}
{% block content %}
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Code</dt>
        <dd class="col-sm-10"> {{ group_info.code }}</dd>
        <dt class="col-sm-2">Course</dt>
        <dd class="col-sm-10"> {{ group_info.course }}</dd>
        <dt class="col-sm-2">Day</dt>
        <dd class="col-sm-10"> {{ group_info.day_of_week }}</dd>
        <dt class="col-sm-2">From - to</dt>
        <dd class="col-sm-10"> {{ group_info.from.time }} - {{ group_info.to.time }}</dd>
        <dt class="col-sm-2">Taken/All</dt>
        <dd class="col-sm-10"> {{  group_info.taken }}/{{  group_info.available }}</dd>
    </dl>
{% endblock %}